@model IEnumerable<CUAHANGDIENTU.Models.Chungtu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ngaylap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenkhachhang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachikhachhang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dongia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MahangNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaylap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenkhachhang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachikhachhang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dongia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MahangNavigation.Chitietmathang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Sochungtu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Sochungtu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Sochungtu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
